*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.root {
    --primary-color: #c0c0c0;
    --secondary-color: #ffffff;
}

.prueba {

 background-image: url('https://www.nintendo.com/eu/media/images/10_share_images/games_15/nintendo_3ds_download_software_7/SI_3DSDS_PokemonBank_enGB_image1600w.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 100%;
}
a {
color: var(--secondary-color)
te
}