*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.root {
    --primary-color: #c0c0c0;
    --secondary-color: #ffffff;
}

.prueba {

 background-image: url('https://www.nintendo.com/eu/media/images/10_share_images/games_15/nintendo_3ds_download_software_7/SI_3DSDS_PokemonBank_enGB_image1600w.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 100vh; /* 100% del alto de la ventana */
 width: 100%; /* Para asegurarte de que cubra todo el ancho */
 margin: 0; /* Elimina márgenes que puedan interferir */
 padding: 0;

 /*las siguientes dos lineas de codigos comentariados son para hacer el fondo mas claro*/
/* background-color: rgba(255, 255, 255, 0.5); /* Blanco con un 50% de transparencia */
/* background-blend-mode: lighten; /* O puedes usar 'overlay' o 'multiply' según el efecto deseado */
}
a {
color: var(--secondary-color)
te
}